{{define "subject"}}Resetting password at fanclub{{end}}
{{define "plainBody"}}
Hi {{.name}},
Click below link to reset your password.
<a href="http://localhost:3000/passwordreset/{{.code}}" target="_black">http://localhost:3000/passwordreset/{{.code}}</a>
Please note that this is a one-time use code and it will expire in a day.
Thanks,
The fanclub Team
{{end}}
{{define "htmlBody"}}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Hi {{.name}},</p>
<p>Click below link to reset your password.</p>
<p><a href="http://localhost:3000/passwordreset/{{.code}}" target="_black">http://localhost:3000/passwordreset/{{.code}}</a></p>
<p>Please note that this is a one-time use token and it will expire in a day.</p>
<p>Thanks,</p>
<p>The fanclub Team</p>
</body>
</html>
{{end}}